<div class="show-wrapper">
<<<<<<< HEAD
<!--   <div class="row">
    <h4 class="ml20"><%=@listing.title%></h4>
  </div> -->
  <div class="show-container">
=======
>>>>>>> 9abfe630237ea826d5d63d8d70e1e4618de8beb4
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner h-100">
          <%@listing.photos.each_with_index do |photo, index|%>
          <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
            <%= cl_image_tag photo.key, class: "d-block w-100 h-100", height: 800, crop: 'fill' %>
          </div>
          <%end%>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row ml20">
    <div class="col s8">
      <div class="d-flex">
      <div class="flex-grow-1 listings-title">
        <h6><%= @listing.title %> by full name </h6>
        <span><p>⭐️ TODO:reviews <%= @listing.address %></p></span>
      </div>
      <div>
        <img src="<%= cl_image_path current_user.photo.key%>" class="circle" style="height: 50px; width: 50px;">
      </div>
<<<<<<< HEAD
=======
      <div class="listings-avatar">
        <img src="<%= cl_image_path @listing.user.photo.key%>" class="circle" style="height: 60px; width: 60px;">
      </div>
>>>>>>> 9abfe630237ea826d5d63d8d70e1e4618de8beb4
    </div>
    <hr>
    <ul>
      <li>
        <div class="d-flex mb10 li-listing">
          <div>
            <i class="material-icons">home</i>
          </div>
          <div class="last-child">
            <div><h6>House type</h6></div>
            <div><p><%= @listing.house_type %></p></div>
          </div>
      </div>
    </li>
      <li>
        <div class="d-flex mb10 li-listing">
          <div>
            <i class="material-icons">hotel</i>
          </div>
          <div class="last-child">
            <div><h6>Amount of bedrooms</h6></div>
            <div><p><%= @listing.bedrooms %></p></div>
          </div>
      </div>
    </li>
      <li>
        <div class="d-flex mb10 li-listing">
          <div>
            <i class="material-icons">hot_tub</i>
          </div>
          <div class="last-child">
            <div><h6>Amount of bathrooms</h6></div>
            <div><p><%= @listing.bathrooms %></p></div>
          </div>
      </div>
    </li>
      <li>
        <div class="d-flex mb10 li-listing">
          <div>
            <i class="material-icons">group</i>
          </div>
          <div class="last-child">
            <div><h6>Max. guests allowed</h6></div>
            <div><p><%= @listing.max_guests %></p></div>
          </div>
      </div>
    </li>
      <li>
        <div class="d-flex mb10 li-listing">
          <div>
            <i class="material-icons">euro_symbol</i>
          </div>
          <div class="last-child">
            <div><h6>Price per night</h6></div>
            <div><p><%= @listing.price %></p></div>
          </div>
      </div>
    </li>
    </ul>
    <hr>
      <div class="listings-title">
      <h6>Description</h6>
        <p>
          <%= @listing.description%>
        </p>
        <a href="/listings/<%=@listing.id%>/bookings/new" class="btn btn-primary mt20">Book this island</a>
      </div>
      <%if @listing.user == current_user%>
       <%=link_to listing_destroy_path(@listing), class: "btn waves-effect waves-light red", style: "margin-top: 15px;" do%><svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
          </svg>
          Delete Listing
        <%end%>
      <%end%>
    </div>
    <div class="col s4">
      <div>
        <div id="map"
     style="height: 75vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
<<<<<<< HEAD
   </div>
=======
      </div>
    </div>
>>>>>>> 9abfe630237ea826d5d63d8d70e1e4618de8beb4
  </div>
</div>
</div>
</div>
