 <div class="nav-fixed">
  <div class="navbar justify-content-between navbar-expand navbar-light navbar-lewagon">
    <div class="navbar-left">
    <%= link_to listings_path, class: "navbar-brand" do %>
    <%= image_tag("isle.png") %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Features", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pricing", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Community", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Support", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
    <div class="navbar-buttons">
      <% if user_signed_in? %>
      <!-- avatar dropleft button -->
        <div class="dropleft">
          <img src="https://i.guim.co.uk/img/media/df45c2e9d42445906e840e43a27fe4428d785a54/0_302_3376_2026/master/3376.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=e806dfa3b52d7576e88b7de1e23b6f31" class="dropdown-toggle circle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px; height: 50px;">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/users/<%= current_user.id %>">My Profile</a>
            <a class="dropdown-item" href="/users/my_bookings">My Bookings</a>
            <a class="dropdown-item" href="/users/my_booking_requests">My Booking Requests</a>
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </div>
      <% else %>
        <%= link_to '<button type="button" class="btn nav-item btn-primary">Register</button>'.html_safe, new_user_registration_path %>
        <%= link_to '<button type="button" class="btn nav-item btn-primary">Sign in</button>'.html_safe, new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
