 <div class="nav-fixed">
  <div class="navbar justify-content-between navbar-expand navbar-light navbar-lewagon">
    <div class="navbar-left">
    <%= link_to listings_path, class: "navbar-brand" do %>
    <%= image_tag("isle.png") %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Features", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pricing", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Community", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Support", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
    <div class="navbar-buttons">
      <% if user_signed_in? %>
      <!-- avatar dropleft button -->
        <div class="dropleft">
          <img src="<%= cl_image_path current_user.photo.key%>" class="dropdown-toggle circle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 60px; height: 60px;">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/users/<%= current_user.id %>">My Profile</a>
            <%= link_to my_bookings_path, class: "dropdown-item" do %>
              My Bookings
            <% end %>
            <%= link_to my_booking_requests_path, class: "dropdown-item" do %>
              My Booking Requests
            <% end %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to new_user_registration_path, class: "btn nav-item btn-primary" do %>
          Register
        <% end %>
        <%= link_to new_user_session_path, class: "btn nav-item btn-primary" do %>
          Sign in
        <% end %>  
      <% end %>
    </div>
  </div>
</div>
